#todo__form {
    display: flex;
}

#todo__input {
    padding: .5rem 1rem;
}

#todo__input:focus {
    outline: none;
}

.submit__btn {
    padding: 0 .5rem;
    background-color: hsl(0, 0%, 10%);
    color: white;
    font-weight: bold;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    cursor: pointer;
}